<li class="organization">
    <a href="#"
       class="item-link item-content disable-active-state organization-item">
        <div class="item-media ">
            <img ng-src="{{organization.img_medium_url}}" width="80"
                 onerror="onImgErrorSmall(this);">
        </div>
        <div class="item-inner row">
            <div class="col-100-60px">
                <div class="item-title">{{organization.short_name}}
                </div>
                <div class="item-subtitle">
                    {{organization.subscribed_count}}
                    {{organization.subscribed_count_text}}
                </div>
            </div>
            <div class="col-60px">
                <button type="button"
                        class="button pull-right button-circle"
                        ng-click="organization.toggleSubscriptionStatus($event);"
                        ng-class="{'button-filled-blue':organization.is_subscribed}"></button>
            </div>
        </div>
    </a>
</li>