
.button-pink{
  border-color: #F82969;
  color: #F82969;
}

.button-pink.button-filled{
  background-color: #f82969;
  color: #ffffff;
}

.button-pink.button-filled:active,.button-pink.button-filled:focus{
  background-color: #f87796;
}

/*.vk-btn{*/
  /*background-color: #48729e;*/
  /*color: white;*/
  /*border: none;*/
  /*box-sizing: inherit;*/
/*}*/

/*.facebook-btn{*/
  /*background-color: #3F5C9A;*/
  /*color: white;*/
  /*border: none;*/
  /*box-sizing: inherit;*/
/*}*/

/*.google-btn{*/
  /*background-color: #DD4B39;*/
  /*color: white;*/
  /*border: none;*/
  /*box-sizing: inherit;*/
/*}*/

.hidden{
  display: none;
}

.navbar-inner{
  background: #7387C5 !important;
}

.navbar-inner, .toolbar-inner {
  height: auto;
}

.subnavbar>.buttons-row{
  width: 75%;
  min-width: 200px;;
}

a.button.button-white {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

a.button-white.active {
  background: #fff;
  border: #fff;
  color: #000;
}

.profile-page-content{
  padding-top: 8px !important;
}

.content-block-inner.user-info{
  height: 110px;
}

.user-info .user-image{
  padding: 25px 25px 26px 10px;
  display: inline-block;
  float: left;
}

.user-image img{
  width: 60px;
  border-radius: 999px;
}

.user-info .user-name{
  display: inline-block;
  height: 100%;
  padding-bottom: 25px;
}

.user-info .user-name-text{
  padding-top: 36px;
  font-size: 17px;
}

.user-info .user-name .user-is-editor{
  font-size: 11px;
  padding-bottom: 20px;
  color: #6F6F6F;
}

.btn-black-blue{
  border-color: #6B88C7;
  color: #6B88C7;
}

.subscriptions-list{
  margin-top: 0;
}

.navbar a.link, .toolbar a.link, .subnavbar a.link{
  color: #fff !important;
}

.navbar a.link.calendar, .toolbar a.link.calendar, .subnavbar a.link.calendar{
  color: #827C7C !important;
  font-size: 30px;
}

.calendar-month-name{
  font-size: 20px;
  font-weight: 700;
}

.calendar-head-year{
  text-align: center;
  padding-top: 3px;
  font-size: 11px;
  color: #676464;
}

.navbar-inner{
  color: #fff !important;
}

.organization-page-navbar{
  background: #6D89C5;
}

.organization-page-img-wrapper{
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 999px;
  display: inline-block;
  background-color: #ffffff;
  margin-top: -35px;
}

.event-page-img-wrapper img{
  width: 30px;
  padding-top: 10px;
}

.event-page-img-wrapper{
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 999px;
  display: inline-block;
  background-color: #ffffff;
}

.organization-page-img{
  width: 50px;
  height: 50px;
  padding-top: 10px;
}

.swiper-container {
  height: 100%;
}

.swiper-slide {
  background:#fff;
}

.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}

.back .ion-ios-arrow-back{
  font-size: 1.6em;
}

.list-block .item-media img.event-vertical{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

span.day-number.with-events{
  border-bottom: 2px solid #9AA6CC;
  background-color: transparent;
  border-radius: 0;
  width: 20px;
  height: 22px;
}

span.day-number.with-events.with-favorites{
  border-color: #F82969 !important;
}

.disable-active-state{
  -webkit-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
  background-color: transparent !important;
}

.picker-calendar-row{
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#calendar-date-events-list{
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: fixed;
  top: calc(50% + 20px);
  display: block;
  overflow: scroll;
  height: calc(50% - 70px);
  width: 100%;
}
.picker-calendar.picker-modal-inline{
  position: fixed;
  top: 40px;
}

.organizations-list{
  margin: 0;
}

.organizations-list ul::before, .organizations-list ul::after, {
  background-color: transparent;
}

.organization-item .item-inner{
  display: inherit !important;
}

.organization-item .item-media{
  border: 1px solid #7387C5 !important;
  border-radius: 99px !important;
  padding: 5px !important;
}

.pull-right{
  float: right;
}
#organizations > .content-block{
  padding-left: 5px;
}
.disable-active-state.active-state .item-inner::after{
  background-color: #c8c7cc !important;
}

.background-img{
  width: 100%;
  height: auto;
}

.organization-img-wrapper{
  width: 100%;
  text-align: center;
}

.organization-name{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.event-name{
  font-weight: 600;
  font-size: 18px;
}

.liked-users .user-avatar{
  width: 30px;
  height: 30px;
  border-radius: 1000px;
  margin-right: -15px;
  border: 2px solid #ffffff;
}

.organization-subscribed-count{
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border: 1px solid #ccc;
  vertical-align: top;
  border-radius: 1000px;
  text-align: center;
  line-height: 25px;
  font-size: 11px;
  margin-top: 5px;
}

.event-item.favorite{
  border-right: 5px solid #E33D74 !important;
}

.event-item .item-link{
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.event-item .item-media{
  padding: 0 !important;
  max-width: 21%;
}

.event-item .event-vertical{
  padding: 0;
}

.event-item .item-subtitle{
  font-size: 14px !important;
  line-height: 14px !important;
  bottom: 3px;
  position: absolute;
}

.without-top-border::before{
  background-color: transparent !important;
}

.without-bottom-border::after{
  background-color: transparent !important;
}

.subscribed-friends-count{
  font-size: 11px;
  color: #848383;
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: 600;
}

.event-viewport {
  overflow: hidden;
  height: 100%;
}

.event-wrapper {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.event .background-img-wrapper {
  position: absolute;
}
.background-img-wrapper {
  width: 100%;
}

.hidden-img {
  width: 100%;
  margin-bottom: -110px;
  visibility: hidden;
}

.diagonal-block {
  position: relative;
  left: 0;
  height: 90px;
  margin: 0 -15px;
}

.diagonal-block:before {
  content: "";
  position: absolute;
  left: 0;
  width: 154%;
  height: 110px;
  background-color: #fff;
  transform: rotate(-12deg);
  transform-origin: bottom;
  transform-style: flat;
  box-shadow: 0 -2px 3px hsla(0,0%,0%,.3);
}

.diagonal-content {
  position: absolute;
  right: 0;
  padding: 15px;
}

.event-attributes i{
  font-size: 18px;
}

.event-attributes{
  color: #615F5F;
}

.favorite-button{
  margin-top: 5px;
}


.event-menu-items .item-media{
  font-size: 20px;
  color: #828282;
}

.event-menu-items{
  margin-bottom: 5px;
}

.event-menu-items li{
  border-bottom: 1px solid #ECECEC;
}

.event-menu-items ul::before{
  height: 0;
}

.event-menu-items .item-title{
  font-size: 15px;
  color: #4C4B4B;
}

.timeline-day-title{
  text-align: center!important;
  color: #000000!important;
  padding-top: 10px!important;
  background-color: #ffffff!important;
  border-bottom: 1px solid #ccc!important;
}

.img-cirle-wrapper{
  border-radius: 999px;
  box-sizing: border-box;
}

.img-cirle-wrapper.width-40{
  width: 40px;
  height: 40px;
}

.img-cirle-wrapper.width-40 img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.border-blue{
  border: 1px solid #7387C5;
}

.pull-left{
  float: left;
}

.event-organization-name{
  display: inline-block;
  line-height: 40px;
  padding-left: 10px;
}

.inline-block{
  display: inline-block !important;
}
.favorite-action{
  background: #E33D74 !important;
}

.organization-logo-td{
  width: 50px;
}

.calendar-event-cover{
  width: 70px !important;
  height: 70px !important;
  background-size: cover !important;
  background-position-x: 100% !important;
  background-position-y: 100% !important;
  background-repeat: no-repeat !important;
}

.event-small-item .item-title{
  font-size: 14px !important;
  font-weight: 700 !important;
  max-height: 40px !important;
  text-overflow: ellipsis !important;
}
.event-small-item .item-inner{
  padding-top: 10px !important;
}

#calendar-date-events-list .list-block{
  margin: 0 0;
}

.event-small-item .item-title{
  font-size: 15px !important;
  font-weight: 700 !important;
}

.liked-users.text-right{
  text-align: right;
}

.friends-page-header-shadow{
  height: 200px;
  position: absolute;
  background-color: #444141;
  width: 100%;
  z-index: 2;
  top: 44px;
  opacity: 0.7;
}

.friends-page-header-text{
  margin-top: 100px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  opacity: 1;
  z-index: 5;
  position: absolute;
  top: 30px;
  width: 100%;
}

.friends-page-header-text img{
  width: 35px;
  height: 35px;
  margin-left: 7px;
  margin-top: 7px;
}

.friends-page-header-text .img-cirle-wrapper{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 999px;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}

.friends-page-header{
  height: 200px;
  background-size: 100%;
}

.list-block.no-margin{
  margin-top: 0!important;
}

.friend-image{
  width: 50px !important;
  height: 50px !important;
  border-radius: 999px;
}

.text-gray{
  color: #807F7F !important;
}

.feed-card .user-avatar{
  width: 40px;
  height: 40px;
  border-radius: 999px;
  margin-right: 10px;
}

.feed-card .action-name{
  font-size: 10px;
}

.background-gray{
  background-color: #EFEFF4;
}

.padding-top-30{
  padding-top: 30px !important;
}

.feed-date{
  font-size: 12px;
  color: #807676;
}

.feed-card .list-block ul {
  padding-left: 25px !important;
}

.feed-card .item-content{
  padding-left: 0 !important;
}
.feed-card .item-title{
  font-size: 12px;
  max-height: 30px;
  text-overflow: ellipsis;
}

.image-cirle{
  border-radius: 999px;
}

.enot-img{
  max-width: 80%;
}

.enot-description{
  color: #7a7a7a;
  font-size: 2em;
}

.event-item .item-title{
  font-size: 14px !important;
  line-height: 16px !important;
  height: 32px !important;
  font-weight: 600 !important;
}

.timeline-day-title{
  font-weight: 700 !important;
}

.infinite-scroll-preloader {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}

.gradient-background{
  background-image: linear-gradient(-161deg, #5F89CE 0%, #355386 97%);
}

.text-wight{
  color: #ffffff !important;
}

.auth-btn .ion-ios-arrow-right{
  float: right;
  font-size: 23px;
}
.auth-btn{
  background: rgba(0,0,0,0.20) !important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  border-radius: 11px;
  width: 70% !important;
  display: inline-table !important;
  color: #ffffff !important;
  font-size: 15px !important;
  text-align: left !important;
}
.auth-btn.active-state{
  background: rgba(255,255,255,0.20) !important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  border-radius: 11px !important;
}

.demo-arrow{
  font-size: 16px !important;
  padding-left: 10px !important;
}

.calendar-loader{
  display: none;
}

.calendar-custom-toolbar{
  height: 35px;
}

.picker-calendar-row{
  border: 0 !important;
}
.picker-calendar-day{
  border: 0 !important;
}

.organization-events{
  display: none;
}

.exit-block .item-title{
  width: 100%;
  color: red;
}
.exit-block{
  height: 100px;
  padding-top: 1px;
  padding-bottom: 19px;
}

.img-50{
  width: 50%;
}