<div class="navbar">
  <div class="navbar-inner blur">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="ion-ios-arrow-back"></i>
      </a>
    </div>
    <div class="center sliding heading-name">Событие</div>
    <div class="right"><span class="icon ion-ios-upload-outline event-bell" onclick="shareEvent()"></span>
    </div>
  </div>
</div>
<div class="pages">
  <div data-page="event" class="page event" ng-controller="EventPageController">
    <div class="page-content">
      <div class="event-viewport">
        <div class="event-wrapper">
          <div class="content-block event-page-content-block">
            <div class="registration-form-overlay hidden"></div>
            <div class="background-img-wrapper" data-top="0">
              <img ng-src="{{event.image_horizontal_url}}"
                   class="background-img"
                   onerror="onImgErrorPattern(this);">
            </div>

            <div class="content-block-inner without-top-border without-bottom-border event-page-content-block-inner">
              <table class="event-attributes">
                <tbody>
                <tr ng-hide="event.favored.length == 0">
                  <td colspan="2" class="text-center">
                    <div class="liked-users" ng-click="event.openLikedFriends()">
                      <img class="user-avatar" ng-repeat="user in event.favored track by user.id"
                           ng-src="{{user.avatar_url}}" onerror="onImgErrorSmall(this);">
                      <div class="organization-subscribed-count">
                        {{event.favored_users_count}}
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="event-page-title">{{event.title}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="content-block-title">Описание</div>
                    <span class="event-description">{{event.description}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="ng-binding">
                    <div class="content-block-title">Место проведения</div>
                    {{event.location}}
                  </td>
                  <td ng-click="event.openMap();" class="event-location-row"
                      style="background-image:url({{event.map_url}})">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="accordion-item" style="padding-bottom: 60px;" ng-click="toggleDates($event);">
                    <div class="content-block-title">Дата и время</div>
                    <div class="dates-wrapper">
                      <div class="event-date-square left">
                        <span class="event-date-number">{{event.first_dates.start_date.format('DD')}}</span>
                        <span class="event-date-name">{{event.first_dates.start_date.format('MMM')}}</span>
                      </div>
                      <div class="event-one-day-description" ng-hide="!event.one_day">
                        <span>{{event.first_dates.start_date.format('dddd')}}, </span>
                        <span>{{event.first_dates.start_date.format('HH:mm')}} — {{event.first_dates.end_date.format('HH:mm')}}</span>
                      </div>
                      <div class="event-datetime left" ng-hide="event.one_day">
                        <span class="event-datetime-start">{{event.first_dates.start_date.format('HH:mm')}}</span>
                        <span class="event-datetime-divider"></span>
                        <span class="event-datetime-end">{{event.first_dates.end_date.format('HH:mm')}}</span>
                      </div>
                      <div class="event-date-divider" ng-hide="event.one_day"></div>
                      <div class="event-date-square right" ng-hide="event.one_day">
                        <span class="event-date-number">{{event.last_dates.start_date.format('DD')}}</span>
                        <span class="event-date-name">{{event.last_dates.start_date.format('MMM')}}</span>
                      </div>
                      <div class="event-datetime right" ng-hide="event.one_day">
                        <span class="event-datetime-start">{{event.last_dates.start_date.format('HH:mm')}}</span>
                        <span class="event-datetime-divider"></span>
                        <span class="event-datetime-end">{{event.last_dates.end_date.format('HH:mm')}}</span>
                      </div>
                    </div>
                    <div class="accordion-item-content">
                      <table class="event-dates-table">
                        <tr>
                          <td><span class="icon ion-ios-calendar-outline"></span></td>
                          <td><span class="icon ion-ios-clock-outline"></span></td>
                        </tr>
                        <tr ng-repeat="date in event.moment_dates">
                          <td>{{date.start_date.format('DD MMMM')}}</td>
                          <td>{{date.start_date.format('HH:mm')}} — {{date.end_date.format('HH:mm')}}</td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <div class="content-block-title">Организатор</div>
                  </td>
                </tr>
                <tr>
                  <td class="event-organization-logo" colspan="2">
                    <img ng-click="event.openOrganization();"
                         onerror="onImgErrorSmall(this);"
                         ng-src="{{event.organization_logo_small_url}}">
                    <span
                        ng-click="event.openOrganization();"
                        class="event-organization-title">{{event.organization_name}}</span>
                    <p><a href="#" class="button event-detail-organization-btn"
                          ng-click="organization.toggleSubscriptionStatus()">{{organization.subscription_text}}</a></p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="content-block-title">Регистрация</div>
                    <span>{{event.registration_till_text}}</span>
                  </td>
                  <td ng-hide="event.min_price == null">
                    <div class="content-block-title">Цена</div>
                    <span>{{event.price_text}}</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="content-block-title">Теги</div>
                    <div class="tag-name" ng-repeat="tag in event.tags track by tag.id">{{tag.name}}</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="content-block-title">Подробнее</div>
                    <div class="details-link-btn">
                      <a class="button event-detail-info-btn" ng-click="event.openDetailInfoUrl();">
                        <i class="icon ion-link"></i> Открыть страницу события
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="picker-modal registration-form hidden">
        <div class="toolbar">
          <div class="toolbar-inner">
            <div class="left"><a href="#" class="close-picker"><span
                class="icon ion-ios-close-empty close-picker-icon"></span></a></div>
            <div class="right">
              <a href="#" class="send-picker" ng-click="sendRegistrationForm($event);">Отправить</a>
            </div>
          </div>
        </div>
        <div class="picker-modal-inner">
          <div class="content-block">
            <form class="list-block">
              <ul>
                <li ng-repeat="field in event.form_fields track by $index">
                  <div class="item-content">
                    <div class="item-inner form-field" ng-class="{'with-error': field.error != null}">
                      <div class="item-title label">{{field.label}}</div>
                      <div class="item-input">
                        <textarea  name="{{field.uuid}}" ng-hide="field.original_type != 'extended_custom'"></textarea>
                        <input  ng-hide="field.original_type == 'extended_custom'" type="{{field.type}}" placeholder="{{field.label}}" name="{{field.uuid}}">
                      </div>
                    </div>
                  </div>
                  <div class="item-content" ng-show="field.error != null">
                    <div class="item-inner">
                      <div class="item-text error-text">{{field.error}}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>