<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="ion-ios-arrow-back"></i><span>Назад</span></a>
    </div>
    <div class="center sliding heading-name">События</div>
  </div>
</div>
<div class="pages">
  <div data-page="events_in_day" class="page events_in_day" ng-controller="EventsInDayController">
    <div class="page-content">
      <div class="day-title">
          <div class="left"><a href="#" class="link icon-only calendar"><i class="ion-ios-arrow-thin-left"></i></a></div>
          <div class="center">{{date_text}}</div>
          <div class="right"><a href="#" class="link icon-only calendar"><i class="ion-ios-arrow-thin-right"></i></a></div>
      </div>

      <div class="text-center calendar-loader">
        <div class="infinite-scroll-preloader">
          <div class="preloader"></div>
        </div>
      </div>
      <div class="no-events-text ng-hide" ng-hide="no_events" >
        Нет событий
      </div>
      <div class="list-block media-list calendar-list" ng-class="{hidden: day_events.length == 0}">
        <ul>
          <li ng-repeat="event in day_events" class="event-item event-small-item swipeout" ng-class="{'favorite':event.is_favorite}">
            <a href="#" class="item-link item-content swipeout-content" ng-click="event.open()" >
              <div class="item-media calendar-event-cover" ng-style="{'background': 'url({{event.image_square_url}})'}">
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{event.title}}</div>
                </div>
                <div class="item-subtitle">{{event.short_dates}} | {{event.time}}</div>
              </div>
            </a>
            <div class="swipeout-actions-left">
              <!-- We add data-confirm and data-confirm-title attributes -->
              <a href="#" class="action1 swipeout-delete" ng-click="event.toggleHidden($event);" >{{event.hide_text}}</a>
            </div>
            <div class="swipeout-actions-right">
              <!-- We add data-confirm and data-confirm-title attributes -->
              <a href="#" class="action1 favorite-action" ng-click="event.toggleFavorite($event);" >{{event.favorite_text}}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>