<div class="navbar">
    <div class="navbar-inner blur">
        <div class="left sliding">
            <a href="#" class="link back">
                <i class="ion-ios-arrow-back"></i>
            </a>
        </div>
        <div class="center sliding user-name">Событие</div>
        <div class="right"></div>
    </div>
</div>
<div class="pages">
    <div data-page="friend" class="page friend with-subnavbar"
         ng-attr-id="{{'friend-page-' + user.html_id}}"
         ng-controller="FriendPageController">
        <div class="page-content infinite-scroll" data-distance="300">
            <div class="content-block">
                <div class="friend-profile-fixed-part text-center">
                    <img class="avatar" onerror="onImgErrorSmall(this);" ng-src="{{user.avatar_url}}">
                </div>
                <div class="profile-buttons">
                    <a ng-attr-href="{{'#activity-' + user.html_id}}"
                       class="button button-round tab-link active" data-type="activity">Активность</a>
                    <a ng-attr-href="{{'#subscriptions-' + user.html_id}}" class="button button-round tab-link"
                       data-type="subscriptions" style="margin-left: 35px;"> Подписки</a>
                </div>
            </div>
            <div class="tabs">
                <div ng-attr-id="{{'activity-' + user.html_id}}" class="tab active profile-page-content">
                    <div class="list-block subscriptions-list">
                        <div class="no-subscriptions-text" ng-show="no_actions">
                            Нет активности
                        </div>

                        <div class="list-block cards-list no-top-margin">
                            <ul>
                                <li class="card feed-card" ng-repeat="card in cards">
                                    <div class="card-header" ng-click="card.open();">
                                        <span class="pull-right feed-date">{{card.date}}</span>
                                        <img ng-src="{{card.user.avatar_url}}" class="user-avatar pull-left"
                                             onerror="onImgErrorSmall(this);">
                                        <div class="action-icon {{card.type_code}}">
                                            <span class="icon ion-ios-star" ng-show="card.entity == 'event'"></span>
                                            <span class="icon ion-plus subscrobed"
                                                  ng-show="card.entity == 'organization' && card.type_code == 'subscribe'"></span>
                                            <span class="icon ion-minus unsubscribed"
                                                  ng-show="card.entity == 'organization' && card.type_code == 'unsubscribe'"></span>
                                        </div>
                                        <span class="user-name sfui_display_medium">{{card.user.last_name}} {{card.user.first_name}}</span>
                                        <div class="action-name text-gray">{{card.action_name}}</div>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="list-block subscriptions-list">
                                                <ul class="without-top-border without-bottom-border">
                                                    <li ng-repeat="entity in card.entities"
                                                        class="feed-action-item"
                                                        ng-click="entity.openEntity();">
                                                        <a href="#" class="item-link item-content">
                                                            <div class="item-media media-left {{card.entity}}">
                                                                <img ng-src="{{entity.img_url}}"
                                                                     class="image-cirle feed-item-img"
                                                                     onerror="onImgErrorSmall(this);">
                                                            </div>
                                                            <div class="item-inner">
                                                                <div class="item-title">{{entity.title}}</div>
                                                                <div class="item-media media-right {{card.entity}}">
                                                                    <img ng-src="{{entity.img_url}}"
                                                                         class="image-cirle feed-item-img"
                                                                         onerror="onImgErrorSmall(this);">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div infinite-scroll ng-show="is_downloading"></div>
                        </div>
                    </div>
                </div>
                <div ng-attr-id="subscriptions-{{user.html_id}}" class="tab profile-page-content">
                    <div class="list-block subscriptions-list no-top-margin">
                        <div class="no-subscriptions-text" ng-show="no_subscriptions">
                            Нет подписок
                        </div>
                        <ul class="without-top-border without-bottom-border">
                            <li class="swipeout profile-subscription"
                                ng-repeat="subscription in subscriptions">
                                <a href="#" class="item-link swipeout-content item-content"
                                   ng-click="subscription.open()">
                                    <div class="item-media">
                                        <img ng-src="{{subscription.img_medium_url}}"
                                             onerror="onImgErrorSmall(this);">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">{{subscription.short_name}}</div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>