<div class="navbar">
  <div class="navbar-inner friend-page-navbar">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="ion-ios-arrow-back"></i></a>
    </div>
    <div class="buttons-row">
      <a href="#" data-page="friend-subscriptions" onclick="showFriendSubscriptions(this);" class="friend-subscriptions friend-buttons button button-white">Подписки</a>
      <a href="#" data-page="friend-actions" onclick="showFriendEvents(this);" class="friend-actions button friend-buttons button-white">События</a>
    </div>
    <div class="right"></div>
  </div>
</div>
<div class="pages">
  <div class="page friend" data-page="friend" ng-controller="FriendPageController">
    <div class="page-content infinite-scroll" data-ptr-distance="140" data-distance="140">
      <div class="tabs friend-tabs">
        <div class="friend-actions tab">
          <div>
            <div class="no-events-text ng-hide" ng-hide="no_actions">
              Нет событий
            </div>
            <div class="list-block cards-list">
              <ul>
                <li class="card feed-card {{card.entity}}" ng-repeat="card in cards">
                  <div class="card-header">
                    <span class="pull-right feed-date">{{card.date}}</span>
                    <img ng-src="{{card.user.avatar_url}}" src="img/transparent.png" class="user-avatar pull-left">
                    <span class="user-name sfns_display_regular">{{card.user.last_name}} {{card.user.first_name}}</span>
                    <br>
                    <span class="action-name sfui_display_medium">{{card.action_name}}</span>
                  </div>
                  <div class="card-content">
                    <div class="card-content-inner">
                      <div class="list-block subscriptions-list">
                        <ul class="without-top-border without-bottom-border">
                          <li ng-repeat="entity in card.entities" ng-click="entity.openEntity();">
                            <a href="#" class="item-link item-content">
                              <div class="item-media">
                                <img ng-src="{{entity.img_url}}" class="image-cirle">
                              </div>
                              <div class="item-inner">
                                <div class="item-title">{{entity.title}}</div>
                                <div class="item-after"></div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="infinite-scroll-preloader ng-hide" ng-hide="is_downloading == false">
                <div class="preloader"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="friend-subscriptions tab active">
          <div class="friend-profile-fixed-part" ng-click="user.openProfile();">
            <div class="profile-background-image">
              <div class="user-background-opacity" ng-style="{'background-image': 'url(' + user.blurred_image_url + ')'}"></div>
            </div>
            <div class="user-info">
              <img class="avatar" ng-src="{{user.avatar_url}}" >
            </div>
            <div class="user-name sfui_display_light">
              {{user.last_name}} {{user.first_name}}
            </div>
            <div class="social-type">
              {{user.type}}
            </div>
          </div>
          <div class="friend-page-content list-block">
            <div class="no-subscriptions-text ng-hide" ng-hide="no_subscriptions">
              Нет подписок
            </div>
            <ul class="without-top-border without-bottom-border">
              <li ng-repeat="subscription in subscriptions">
                <a href="#" class="item-link item-content"
                   ng-click="subscription.open()">
                  <div class="item-media">
                    <img ng-src="{{subscription.img_medium_url}}">
                  </div>
                  <div class="item-inner">
                    <div class="item-title">{{subscription.short_name}}</div>
                    <div class="item-after"></div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>