
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="#" class="link back">
        <i class="ion-ios-arrow-back"></i><span>Назад</span></a>
    </div>
    <div class="center sliding heading-name">Добавили в избранное</div>
  </div>
</div>
<div class="pages">
  <div data-page="friends_liked" class="page friends_liked" ng-controller="UsersPageController">
    <div class="page-content">
      <div class="friends-page-header">
        <img src="img/event_bg.png" class="background-img" ng-src="{{info.background_img_url}}">
        <div class="friends-page-header-shadow">
          <div class="friends-page-header-text">
            {{info.name}}
          </div>
        </div>
      </div>
      <div class="list-block no-margin media-list">
        <ul>
          <li ng-repeat="friend in info.friends" ng-click="friend.open();">
            <a href="#" class="item-link item-content">
              <div class="item-media">
                <img ng-src="{{user.avatar_url}}" class="friend-image">
              </div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{user.last_name}} {{user.first_name}}</div>
                </div>
                <div class="item-subtitle text-gray" ng-show="friend.is_friend == true">
                  {{user.type_name}}
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>