<div class="navbar">
    <div class="navbar-inner blur">
        <div class="left sliding">
            <a href="#" class="link back">
                <i class="ion-ios-arrow-back"></i>
            </a>
        </div>
        <div class="center sliding heading-name organization-heading-name sfui_display_light"></div>
        <div class="right"></div>
    </div>
</div>
<div class="pages">
    <div class="page organization" data-page="organization" ng-controller="OrganizationPageController">
        <div class="page-content infinite-scroll" data-distance="50" data-ptr-distance="50">
            <div class="background-img-wrapper" data-top="0">
                <img ng-src="{{organization.background_medium_img_url}}" onerror="onImgErrorPattern(this);"
                     src="img/organization_bg.png" class="background-img">
            </div>
            <div class="organization-img-wrapper">
                <div class="organization-page-img-wrapper" ng-click="organization.openSite()">
                    <img ng-src="{{organization.img_medium_url}}" onerror="onImgErrorSmall(this);"
                         class="organization-page-img">
                </div>
            </div>


            <div class="text-center">
                <button type="button" ng-click="organization.toggleSubscriptionStatus($event);"
                        class="rounded-large" style="margin-top: 24px; margin-bottom: 25px;"
                        ng-class="{'button-active':organization.is_subscribed}">
                    {{organization.subscription_text}}
                </button>
            </div>
            <div class="organization-name">
                {{organization.name}}
            </div>
            <div class="content-block-inner without-top-border without-bottom-border"
                 style="box-shadow:0px 2px 4px 0px rgba(0,0,0,0.11);
                 padding-right: 0;">
                <div class="text-center">
                    <div class="liked-users" ng-click="organization.openSubscribedFriends()">
                        <img class="user-avatar" ng-repeat="user in organization.subscribed"
                             ng-src="{{user.avatar_url}}" onerror="onImgErrorSmall(this);">
                        <div class="organization-subscribed-count">{{organization.subscribed_count}}</div>
                    </div>
                    <div class="subscribed-friends-count text-center">
                        подписались
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-item-toggle organization-details" ng-click="toggleDetails();">{{details_text}}
                        <span
                                class="icon"
                                ng-class="{'ion-ios-arrow-down':details_shown == false, 'ion-ios-arrow-up':details_shown}"></span>
                    </div>
                    <div class="accordion-item-content">
                        <div class="organization-block">
                            <div class="content-block-title">Описание</div>
                            <div class="organization-block-content">{{organization.description}}</div>
                        </div>
                        <div class="organization-block">
                            <div class="content-block-title">Адрес</div>
                            <div class="organization-block-content">{{organization.default_address}}</div>
                        </div>
                        <div class="organization-block" ng-show="organization.site_url != null">
                            <div class="content-block-title">Официальный сайт</div>
                            <div class="organization-block-content"><a href="#" ng-click="organization.openSite()">{{organization.site_url}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-block cards-list">
                <event-card ng-repeat="event in organization.events"></event-card>
                <infinite-scroll></infinite-scroll>
            </div>
        </div>
    </div>
</div>