@font-face {
	font-family: 'Glyphter';
	src: url('../fonts/glyphter/Glyphter.eot');
	src: url('../fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
	url('../fonts/glyphter/Glyphter.woff') format('woff'),
	url('../fonts/glyphter/Glyphter.ttf') format('truetype'),
	url('../fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
	font-family: 'Glyphter';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-lnr-pushpin:before{content:'\0041';}
.icon-pin_full:before{content:'\0042';}