


@font-face {
  font-family: 'sfns_displayregular';
  src: url('../fonts/sf/cyrillic/SF-UI-Display-Regular.eot');
  src: url('../fonts/sf/cyrillic/SF-UI-Display-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sf/cyrillic/SF-UI-Display-Regular.woff') format('woff'),
  url('../fonts/sf/cyrillic/SF-UI-Display-Regular.ttf') format('truetype'),
  url('../fonts/sf/cyrillic/SF-UI-Display-Regular.svg#SFUIDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sfns_display_thin";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "sfns_display_bold";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "sfns_display_regular";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "sfns_display_ultralight";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Ultralight.ttf") format("truetype");
}
@font-face {
  font-family: "sfns_text_medium";
  src: url("../fonts/sf/cyrillic/SF-UI-Text-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "sfui_display_bold";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "sfui_display_heavy";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "sfui_display_medium";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "sfui_display_ultralight";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Ultralight.ttf") format("truetype");
}
@font-face {
  font-family: "sfui_display_light";
  src: url("../fonts/sf/cyrillic/SF-UI-Display-Light.ttf") format("truetype");
}